@{
    ViewBag.Title = "Admin";
}

     <h2>Manage Quiz</h2>
  <p> Note*  Always start by adding anwers to your questions the add the question and link it to the answer</p>
       <hr />

        <p>@Html.ActionLink("Set Answer","Index", "Answer")</p>   

         <p>@Html.ActionLink("Add Questions","Index", "Question")</p>  
    
        <p>@Html.ActionLink("Set Anwser Choices","Index", "AnswerChoice")</p>   
          
       <p>@Html.ActionLink("View Quiz","Index", "Quiz")</p> 

    